.searched-users-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#search-page-user-pic {
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    padding: 5px;
}

.user-info-search-page {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: black;
}

#username-search-page {
    font-weight: bold;
    margin-bottom: -1rem;
}
