.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    list-style: none;
    margin: auto;
    padding: 10px 0;
    align-items: center;
    border-bottom: 1px solid lightgray;
  }

.picstagram-logo {
  width: 100px;
}

.nav-bar-right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.search-bar {
  width: 250px;
}

#right-side-icon {
  margin: 0 10px;
  color: black;
}
