.suggested-users {
    display: flex;
    flex-direction: column;
    height: 20rem;
    /* border: 1px solid rgba(var(--b6a,219,219,219),1); */
    width: 20%;
    margin-left: 1rem;
}

#suggest-message {
    color: rgba(var(--f52,142,142,142),1);
    text-align: start;
    margin-left: 0.5rem;
    font-size: 16px;
}

.home-page-container {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.suggested-users-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: black;
    margin-left: 0.3rem;
}

#suggest-users-user-session-pic {
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    padding: 5px;
    padding-bottom: 0px;
}

#suggested-user-image {
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    padding: 5px;
}

.home-page-posts {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: black;
    width: 450px;
    padding: 0;
}

#home-page-post-pic {
    height: 450px;
    width: 450px;
}

.home-page-user-caption {
    width: 450px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

#home-page-username {
    margin-right: 0.3rem;
    font-weight: bold;
    float: left;
    margin-left: 0.5rem;
}

#home-page-caption {
    word-wrap: break-word;
    width: 445px;
}

.post-container {
    display: flex;
    flex-direction: column;
    border: 1px solid lightgrey;
    margin-bottom: 2rem;
    border-radius: 8px;
    background-color: white;
}

.photo-feed-post-user-info {
    display: flex;
    flex-direction: row;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
    align-items: center;
}

#photo-feed-user-pic {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}

#navlink-photo-feed {
    color: black;
}

.likes-container-photo-feed {
    display: flex;
    flex-direction: row;
    width: 450px;
    align-items: center;
}

#home-page-post-caption, #photo-feed-user-comment {
    margin-left: 0.5rem;
}

.suggest-users-user-session-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    color: black;
}

#suggest-users-user-session-name {
    font-weight: bold;
}

.user-comments-photo-feed {
    width: 450px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.user-comments-photo-feed2 {
    word-wrap: break-word;
    width: 445px;
}


#navlink-user-comment-photo-feed {
    color: black;
    text-decoration: none;
}

#photo-feed-comment-username {
    margin-right: 0.3rem;
    font-weight: bold;
    float: left;
    margin-left: 0.5rem;
}

#view-comments-navlink {
    text-decoration: none;
    color: gray;
    width: 450px;
    margin-left: 1rem;
    padding-top: 5px;
    padding-bottom: 5px;
}
