.suggested-users {
    display: flex;
    flex-direction: column;
    height: 20rem;
    border: 1px solid rgba(var(--b6a,219,219,219),1);
    width: 20%;
    margin-left: 1rem;
}

#suggest-message {
    color: rgba(var(--f52,142,142,142),1);
    text-align: start;
    padding-left: 1rem;
}

.home-page-container {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.suggested-users-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: black;
}

#suggested-user-image {
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    padding: 5px;

}

.home-page-posts {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: black;
    width: 350px;
    padding: 0;
}

#home-page-post-pic {
    height: 350px;
    width: 350px;
}

.home-page-user-caption {
    width: 350px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

#home-page-username {
    margin-right: 0.5rem;
    font-weight: bold;
    float: left;
    margin-left: 0.5rem;
}

#home-page-caption {
    word-break: break-all;
    width: 293px;
}

#home-page-caption-long {
    word-break: break-all;
    width: 293px;
}

.post-container {
    display: flex;
    flex-direction: column;
    border: 1px solid lightgrey;
    margin-bottom: 2rem;
}

.photo-feed-post-user-info {
    display: flex;
    flex-direction: row;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
    align-items: center;
}

#photo-feed-user-pic {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}

#navlink-photo-feed {
    color: black;
}

.likes-container-photo-feed {
    display: flex;
    flex-direction: row;
    width: 350px;
    align-items: center;
}

#home-page-post-caption {
    margin-left: 0.5rem;
}
