.signup-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 500px;
    -webkit-box-align: center;
    background-color: rgba(var(--d87,255,255,255),1);
    border: 1px solid rgba(var(--b6a,219,219,219),1);
    border-radius: 1px;
    margin: auto;
    margin-top: 2rem;
}

.signup-form {
    margin-top: -5rem;
    margin-bottom: 3rem;
}

.signup-errors {
    margin-top: -2.5rem;
    margin-bottom: 0.5rem;
    font-size: 14px;
    font-weight: bold;
    margin-left: 1rem;
}

input {
    width: 12rem;
    height: 1.5rem;
    margin-bottom: 5px;
    border: 0.5px solid lightgray;
    background-color: #fafafa;
    border-radius: 4px;
}

input:hover {
    border: 0.5px solid rgb(137, 135, 135);
}

#signup-inputs-errors {
    margin-left: 1.75rem;
}

#logo-signup-errors {
    width: 10rem;
    margin-bottom: 25rem;
    position: absolute;
}

#logo-signup {
    width: 10rem;
    position: absolute;
    margin-bottom: 25rem;
}

#signup-message {
    color: rgba(var(--f52,142,142,142),1);
    text-align: center;
    margin-bottom: 9rem;
    position: static;
    padding-left: 1rem;
    padding-right: 1rem;
}

#signup-message-errors {
    color: rgba(var(--f52,142,142,142),1);
    text-align: center;
    margin-bottom: 3rem;
    position: static;
}

#signup-button {
    padding: 5px;
    color: rgba(var(--eca,255,255,255),1);
    background-color: rgba(var(--d69,0,149,246),1);
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    width: 12rem;
    margin-top: 1rem;
}

#signup-button-errors {
    padding: 5px;
    color: rgba(var(--eca,255,255,255),1);
    background-color: rgba(var(--d69,0,149,246),1);
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    width: 12rem;
    margin-top: 1rem;
    margin-left: 1.75rem;
}

.already-have-account2 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin: auto;
    margin-top: 35rem;
    background-color: rgba(var(--d87,255,255,255),1);
    border: 1px solid rgba(var(--b6a,219,219,219),1);
    border-radius: 1px;
    width: 250px;
    height: 3rem;
}

#navlink-to-login {
    margin-left: 0.5rem;
    color: rgba(var(--d69,0,149,246),1);
    font-weight: bold;
}
