#like_button{
    background: transparent;
    border: none;
    color: lightgray
}

#unlike_button {
    background: transparent;
    border: none;
    color: red;
    transition-delay: color 2s;
}

.single-post-container-main {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
}

.post-page-left {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

#single-post-pic {
    width:500px;
    height:500px;
}

.post-page-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}

#post-owner-user-pic {
    height: 3vw;
    width: 3vw;
    border-radius: 50%;
    padding: 5px;
}

#post-owner-user-pic2 {
    height: 3vw;
    width: 3vw;
    border-radius: 50%;
}

.main-post-user-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid lightgray;
    width: 50%;
}

#post-owner-username {
    font-weight: bold;
    margin-left: 0.5rem;
    margin-right: 3rem;
    font-size: 14px;
}

#edit-post-btn, #delete-post-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: rgba(var(--d69,0,149,246),1);
}

.update-post-form {
    display: flex;
    flex-direction: column;
    width: 150px;
}

#edit-post-input {
    /* resize: none; */
    overflow-y: scroll;
    border-radius: 2px;
    border: 1px solid rgb(137, 135, 135);
}

#edit-post-input:hover {
    border: 1px solid rgba(var(--d69,0,149,246),1);
}

.errors-comments {
    color: red;
    font-size: 14px;
    width: 300px;
    margin-left: -2rem;
}

#post-edit-comment {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: rgba(var(--d69,0,149,246),1);
}

.edit-comment-btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.user-caption-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 50%;
    margin-top: 1rem;
}

#post-owner-username2 {
    font-weight: bold;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-size: 14px;
    float: left;
}

#single-post-caption {
    font-size: 14px;
    margin-left: 0.5rem;
}

.comments {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.comment-details {
    display: flex;
    flex-direction: row;
    margin-top: 0.5rem;
    align-items: flex-start;
}

#comment-user-pic {
    height: 3vw;
    width: 3vw;
    border-radius: 50%;
}

#comment-username {
    font-weight: bold;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-size: 14px;
    float: left;
}

#user-comment {
    font-size: 14px;
    margin-left: 0.5rem;
}

.comment-btns {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.likes-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0.5rem;
}

#comment-text-container {
    word-break: normal;
}


#user-comment-long-string {
    word-break: break-all;
}

#caption-container {
    word-break: normal;
}

#caption-container-long-string {
    word-break: break-all;
}

.comment-username-text {
    display: flex;
    flex-direction: row;
    flex-wrap:initial
}
