#like_button{
    background: transparent;
    border: none;
    cursor: pointer;
}

#like_button:hover {
    color: rgb(184, 181, 181);
}

#unlike_button {
    background: transparent;
    border: none;
    color: red;
    transition-delay: color 2s;
    cursor: pointer;
}

.single-post-container-main {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
}

.post-page-left {
    width: 70%;
    display: flex;
    justify-content: flex-end;
}

#single-post-pic {
    width:500px;
    height:500px;
}

.post-page-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    /* margin-left: 1rem; */
}

#post-owner-user-pic {
    height: 3vw;
    width: 3vw;
    border-radius: 50%;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

#post-owner-user-pic2 {
    height: 3vw;
    width: 3vw;
    border-radius: 50%;
    margin-left: 0.5rem;
}

.main-post-user-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid lightgray;
    width: 100%;
}

#post-owner-username {
    font-weight: bold;
    margin-left: 0.5rem;
    margin-right: 3rem;
    font-size: 14px;
}

#edit-post-btn, #delete-post-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: rgba(var(--d69,0,149,246),1);
}

.update-post-form {
    display: flex;
    flex-direction: column;
    width: 150px;
}

#edit-post-input {
    /* resize: none; */
    overflow-y: scroll;
    border-radius: 2px;
    border: 1px solid rgb(137, 135, 135);
}

#edit-post-input:hover {
    border: 1px solid rgba(var(--d69,0,149,246),1);
}

#post-edit-comment {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: rgba(var(--d69,0,149,246),1);
}

.edit-comment-btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.user-caption-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    margin-top: 1rem;
}

#caption-container {
    display: flex;
    flex-direction: row;
    flex-wrap:initial
}

#post-owner-username2 {
    font-weight: bold;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-size: 14px;
    float: left;
}

#single-post-caption {
    font-size: 14px;
    margin-left: 0.5rem;
    word-wrap: break-word;
}

.comments {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.comment-details {
    display: flex;
    flex-direction: row;
    margin-top: 0.5rem;
    align-items: flex-start;
}

#comment-user-pic {
    height: 3vw;
    width: 3vw;
    border-radius: 50%;
    margin-left: 0.5rem;
}

#comment-username {
    font-weight: bold;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-size: 14px;
    float: left;
}

#user-comment {
    font-size: 14px;
    margin-left: 0.5rem;
    word-wrap: break-word;

}

.comment-btns {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.likes-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
}

.comment-username-text {
    display: flex;
    flex-direction: row;
    flex-wrap:initial
}

#more-containers {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

#horizontal-btns-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

#edit-delete-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
}

#post-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* gap: 30px; */
    width: 300px;
    height: 100px;
}

#delete-post-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid lightgray;
    height: 50px;
    width: 100%;
}

#delete-post-btn {
    color: red;
    font-weight: bold;
}

#close-edit-delete-modal {
    position: absolute;
    bottom: 85px;
    right: -40px;
    color: #FFFFFF;
    background-color: transparent;
    border: none;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

#edit-post-btn-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50px;
}

#edit-post-btn {
    color: black;
}

#likes-count {
    font-size: 14px;
}

.post-page-right-border {
    background-color: white;
    width: 300px;
    height:500px;
}

#navlinks {
    color: black;
    text-decoration: none;
}
