#user_avator_single_post {
    border-radius: 50%;
    width: 10%;
    height: auto;
    border: 1px solid blue;
}

#like_button{
    background: transparent;
    border: none;
    color: lightgray
}

/* #like_button:hover {
    color: red;
} */

#unlike_button {
    background: transparent;
    border: none;
    color: red;
    transition-delay: color 2s;
}

/* #unlike_button:hover {
    color: lightgray
} */
