
.comment-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#comment-box {
    max-height: 80px;
    border: none;
    width: 200px;
    resize: none;
    margin-top: 1rem;
    font-size: 14px;
    box-sizing: border-box;
}

#comment-box:focus {
    outline: none;
}

#post-comment-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: rgba(var(--d69,0,149,246),1);
    font-weight: bold;
    margin-top: -1rem;
}

.errors-comments {
    color: red;
    font-size: 14px;
    position: relative;
}

.comment-form-with-errors {
    display: flex;
    flex-direction: column;
}
